{% extends 'main.html' %}

{% block content %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <label>USERNAME:</label>
            <input type="text" placeholder="Enter Username" name="username">
            <label>PASSWORD:</label>
            <input type="password" placeholder="Enter Password" name="password">
            <input type="submit" value="Login">
            <p>Dont have account ? Create account <a href=""> Here</a></p>
        </form>
    </div>
{% endblock content %}